<a href="https://colab.research.google.com/github/adaribhaskar/Assignment1_700744407_ML/blob/main/ML_assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question number 1

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()

a=min(ages)
b=max(ages)
print(a,b)
ages.append(a)
ages.append(b)
ages.sort() #again sorted after adding min and max valu to list
print("After adding max and min",ages)
length=int(len(ages)/2)
median =(ages[length]+ages[length-1])/2
print("Median Age:",int(median))
print("Average Age :",sum(ages)/len(ages)) #average age
print("range:",b-a)#range

19 26
After adding max and min [19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
Median Age: 24
Average Age : 22.75
range: 7

Question 2

In [ ]:
dog={}
dog["name"]="rio"
dog["color"]="white"
dog["breed"]="golden"
dog["legs"]=4
dog["age"]=5
print(dog.values())
student={"first_name":"","Last_name":"","Gender":"","Age":"","Martial Status":"","Skills":"","Country":"","City":"","Address":""}

print(len(student))
values=[]
for i in range(len(student)):
  a=input()
  values.append(a)
  student[i]=a
print(type(values))
student["Skills"].append("python")
print(student.keys())
print(student.values())

dict_values(['rio', 'white', 'golden', 4, 5])
9
bhaskar
adari
male
23
single
testinng
india
vizag
hgkduhk
<class 'list'>
['bhaskar', 'adari', 'male', '23', 'single', 'testinng', 'india', 'vizag', 'hgkduhk']

Question 3

In [ ]:
brothers=("Suresh","Chaitanya")
sisters=("Sirisha","Ramya")
siblings=brothers+sisters
print("I have {} siblings".format(len(siblings)))
family_numbers=siblings+("Balaram","Lakshmi")
print(family_numbers)

I have 4 siblings
('Suresh', 'Chaitanya', 'Sirisha', 'Ramya', 'Balaram', 'Lakshmi')

Question 4

In [ ]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print(len(it_companies))
it_companies.add("Twitter")
print(it_companies)
m_it=["cognizant","TCS"]
it_companies.update(m_it)
print(it_companies)
it_companies.remove("cognizant")
print(it_companies)
#remove will throw an error if the item is not present in the set
#discard will not throw an error message even if the item is not present
C=A.union(B)
D=A.intersection(B)
print(C,D)
print(A.issubset(B))
print(A.isdisjoint(B))
A=A.union(B)
B=B.union(A)
E=A.symmetric_difference(B)
print(E)
A.clear()
B.clear()
print(A)
print(B)
SETage=set(age)
print(len(age)-len(SETage))

7
{'IBM', 'Apple', 'Microsoft', 'Oracle', 'Google', 'Twitter', 'Facebook', 'Amazon'}
{'cognizant', 'IBM', 'Apple', 'Microsoft', 'TCS', 'Oracle', 'Google', 'Twitter', 'Facebook', 'Amazon'}
{'IBM', 'Apple', 'Microsoft', 'TCS', 'Oracle', 'Google', 'Twitter', 'Facebook', 'Amazon'}
{19, 20, 22, 24, 25, 26, 27, 28} {19, 20, 22, 24, 25, 26}
True
False
set()
set()
set()
3

Question 5

In [ ]:
import math as m
radius = 30
area_of_circle_ = m.pi*radius*radius
circum_of_circle_ = 2*m.pi*radius
rad1=int(input())
print(area_of_circle_,circum_of_circle_,m.pi*rad1*rad1)

40
2827.4333882308138 188.49555921538757 5026.548245743669

Question 6

In [ ]:
s="I am a teacher and I love to inspire and teach people"
s=list(s.split(" "))
print(set(s))

{'I', 'love', 'teach', 'people', 'teacher', 'to', 'inspire', 'am', 'a', 'and'}

Question 7

In [ ]:
print("Name\t\tAge\tCountry\t\tCity")
print("Asabeneh\t25\tFinland\t\tHelsinki")

Name		Age	Country		City
Asabeneh	25	Finland		Helsinki

Question 8

In [ ]:
radius = 10
area = 3.14*radius**2
print("The area of a circle with radius 10 is {} meters square.".format(int(area)))

The area of a circle with radius 10 is 314 meters square.

Question 9

In [ ]:

kgs=[]
n=5
for i in range(5):
  a=int(input())
  kgs.append(round(a*0.453592,2))
print(kgs)

150
155
145
138
160
[68.04, 70.31, 65.77, 62.6, 72.57]